* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    padding: 10px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.color-container {
    margin-top: 50px;
}
.box {
    border: 2px #000 solid;
    border-radius: 5px;
    width: 150px;
    height: 150px;
}

.color-container .black {
    background-color: #000;
}

 .red {
    color:red;
}

.color-container .blue {
    background-color:blue;
}

/* modale */

.modal {
    width: 100%;
    height: 300px;
    background-color: teal;
    line-height: 300px;
    text-align: center;
    color: #333;
    font-size: 24px;
}

/* student */

.student-name {
    color:#333;
    font-size: 24px;
    font-weight: bold;
}

/* slider di freddure */

.containerImage {
    max-width: 600px;
    width: 100%;
    height: 300px;
    margin-top: 40px;
    padding: 20px;
    border: 2px #ccc solid;
    border-radius: 10px;
    box-shadow: 0 0 6px #ccc;
}

.card {
    border: 1px #000 solid;
}
